body, body.sfw {
    background: none repeat scroll 0 0 #222;
}
body.sfw #menu div::before {
    background: none repeat scroll 0 0 #444;
}
* {
    /*color: #111;*/
}
h1, h2, h3 {
    color: #bbb !important;
    ;
}

a {
    color: #bbb !important;
}

a.admin {
  color: #df1500 !important;
}

a.moderator {
 color: #ffa900 !important;
}

a.vip {
 color: #008fd3 !important;
}

.chat-message a, .message a {
    color: #0a0 !important;
}

.chat-message-messages {
    line-height: 1.3em;
}

#big-leeks, #logo {
    opacity: 0.5;
}
#page-background {
    background-color: transparent;
}
#page-wrapper-top::before, #page-wrapper-bottom::before {
    border: none !important;
}
#page-wrapper-top, #page-wrapper, #page-wrapper-bottom {
    background-color: transparent !important;
}
#page-bottom {
    display: none !important;
}
#page-top {
    border-left: none !important;
    margin: -25px 15px -5px 15px !important;
}
#page-top::before {
    border-left: none !important;
}
#tabs .tab {
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
#tabs .tab.selected, #tabs .tab.selected .name {
    background-color: #488 !important;
}
.tabs .tab:hover {
    background-color: #488 !important;
}
.tab.leek:hover {
    background-color: #488 !important;
}
#menu div::before {
    background-color: #444;
}
#menu div.menu-active::before {
    background-color: #488;
}
#menu a div:hover::before {
    background-color: #555 !important;
}
.infos .name, #left-part, #right-part {
    color: #333 !important;
}
.popup .content {
    background-color: #666;
}
.button {
    background-color: #555;
    color: #eee !important;
}

#page, #page-top, #bank .pack, #preview, .item-preview, .item-preview .stats div:nth-child(2n+1),
#all-messages, #all-messages:hover, #notifs, #notifs-menu, #settings-menu, .pm,
#all-messages, #all-messages:hover, .hover_tooltip, .compo.in-tournament .leeks, .compo .leeks,
#garden-left .tab, .category, .topic, #chat-messages {
	background-color: #333 !important;
}

#page, #forum, .category, .topic, .message-wrapper, .profile, .item-preview, .item-preview .stats div:nth-child(2n+1),
.ranking-large, #page .ranking, .pm, #all-messages, #all-messages:hover, #notifs, #notifs-menu, #settings-menu,
.language.card, .report, .report th, #registers, #registers th, .register, .register td, .hover_tooltip,
.compo.in-tournament .leeks, .leeks a, .compo .leeks, .leeks .empty, #garden-left .tab, #tutorial table,
#ai-stats, pre, .function-name, .leek-farmer-div {
    color: #ccc !important;
}

.action {
    color: #eee !important;
}

input, textarea {
  background-color: #555 !important;
  border: 1px solid #bbb !important;
  color: #ddd !important;
}

/* Market */

#bank .pack {
    border-bottom: 2px solid #ddd;
}
#items .item.selected {
    background: none repeat scroll 0 0 #488;
}
#items .item.selected, #items .item, .item-preview {
    border: 1px solid #555 !important;
}
#items .item:hover {
    background-color: #555;
}
.item-preview .header, .item-preview .header h2 {
    background-color: #999;
    color: #444 !important;
}
#preview .location {
    background: none repeat scroll 0 0 #333;
    border: 1px solid #ddd;
}
.item-preview .constant {
    color: #999 !important;
}

.item-preview .level {
    color: #333 !important;
}
/** Team */

.compo .leeks {
    border: 1px solid #444;
}
#team-table tr > td:nth-child(n+2) {
    border-left: 1px solid #444;
}
.leek:hover, .myCompo:hover, .enemyCompo:hover, .farmer:hover {
    background-color: #666;
}
/* Garden */

#garden-left .tab {
    border: 1px solid #444 !important;
}

#garden-left .tab.active {
    border: 1px solid #0a0 !important;
}

.fights {
    color: #ddd;
}

/* Forum */

#forum .message {
    background-color: #444;
    color: #bbb !important;
}
#forum .profile {
    background-color: #444;
    border-right: 8px solid #333;
}
.title, .topic .title, .topic.pinned, .leek .name, .category .title, .result .title, #search .result {
    background-color: transparent;
    color: #eee !important;
}
.topic:hover, .category:hover, #search .result:hover {
    background-color: #444 !important;
    color: #488 !important;
}

.topic.pinned {
    border-bottom: 1px solid #ddd;
}

.topic .last-message, .topic .num-messages {
    color: #999 !important;
}

.conversation-preview:hover {
    background-color: #444;
}
pre {
    background: none repeat scroll 0 0 #444;
    border: 6px solid #555;
}
pre .line-number {
    background-color: #222;
}
.language.card {
    background-color: #333 !important;
    border-bottom: none;
}

#forum .profile .messages-count b, #forum .profile .trophy-count b {
    color: #ddd !important;;
}
/* Notifs */

.pm:hover, #all-messages:hover, .notif:hover, #all-notifs:hover, .setting:hover {
    background-color: #555 !important;
}
/* Classements */

#page .ranking.large, #page .ranking {
    border: 1px solid #444;
}

.ranking tr.me {
    background-color: #444 !important;
}
#page .ranking th {
    background-color: #234 !important;
}

#page .ranking td, #page .ranking th {
    border-left: none !important;;
    border-right: none !important;;
}

/* Tables */

table.ranking th, table.ranking td, table.report th, table.report td, .hover_tooltip.report, #registers th, #registers td {
    border: 1px solid #444 !important;
    background-color: #333 !important;
}
table .me td {
    background-color: #555 !important;
}
/* Combat */

#top-part-wrapper {
    top: 0px;
}

#too-long {
    color: #444;
}

#report-actions #actions {
    background-color: #555;
}

.log {
    color: #ddd;
}
.log.error {
    color: #ff1900;
}
/* Editeur */

#ai-list .ai.selected {
  background-color: #777 !important;
}

.CodeMirror-lines .activeline {
  background-color: #277 !important;
}

#ai:hover {
  background-color: #999 !important;
}

.CodeMirror, .editors, .CodeMirror-gutters {
  background-color: #333 !important;
}

.hint-dialog .hint.active {
	background-color: #044 !important;
}

.hint-dialog .hints, .hint-dialog .details, .hint-dialog .hint, .detail-dialog {
    background-color: #444 !important;
    color: #eee !important;
}

.CodeMirror-selected {
    background: none repeat scroll 0 0 #555 !important;
}
.cm-variable, .cm-operator, .line-number, .cm-lsfunc, .cm-variable-2 {
    color: #ddd !important;
}
.cm-comment {
    color: green !important;
}
/* Leek */

.leek, .my-leek, .leek.enemy {
    opacity: 0.9;
}

.talent {
    color: #bbb !important;
}

.leek .level {
    color: #777 !important;
}

#show-registers, #hide-registers, #rename-button {
    color: #bbb !important;
}

#tournament-info, #leek-status {
    color: #999;
}

.hover_leeks_table th, .hover_leeks_table td, .teams_block {
    background-color: #333 !important;
    border: 1px solid #aaa;
}

#leek-table tr > td:nth-child(n+2), #bottom-table tr > td:nth-child(n+2), #leek-status tr > td:nth-child(n+2),
#ai-popup tr > td:nth-child(n+2) {
    border-left: 1px solid #444;
}
.fight-history, .fight-history span a {
    color: #555 !important;
}
#farmer-table tr > td:nth-child(n+2) {
    border-left: 1px solid #444;
}

#tournaments-history .tournament {
    background-color: #666;
    color: #ddd;
}

body.sfw .fight-history.win, body.sfw .fight-history.defeat {
    opacity: 0.2;
}

.fight-history.win {
    background-color: #6ad051;
}
.fight-history.draw {
    background-color: #aaa;
    color: #ddd;
}
#description .text, #fights .big, #talent, .farmer .name {
    color: #bbb;
}
#trophies-grid .trophy {
    background: none repeat scroll 0 0 #333 !important;
    border: none !important;
    ;
}
rect.entry {
    fill: #444 !important;
    ;
}
/* Help */

#help table td div, .menu-item, #help-menu .item, #general-help formula {
    background-color: #555;
    border: 1px solid #ddd;
    color: #eee;
}

#help .description {
    color: #eee;
}

.function {
    border-bottom: 1px solid white;
}

#function-list div:hover {
    background-color: #555;
}


/* Images */

.chip img, .item.potion img, .hat img, .item img {
    opacity: 0.8;
}
